html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
	-moz-appearance: none;
}
input[type="search"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}
audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	max-width: 100%;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden] {
	display: none;
}
html {
	font-size: 100%; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	-ms-text-size-adjust: 100%; /* 2 */
}
a:focus {
	outline: thin dotted;
}
a:active,
a:hover {
	outline: 0;
}
img {
	border: 0; /* 1 */
	-ms-interpolation-mode: bicubic; /* 2 */
}
figure {
	margin: 0;
}
form {
	margin: 0;
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	border: 0; /* 1 */
	padding: 0;
	white-space: normal; /* 2 */
	*margin-left: -7px; /* 3 */
}
button,
input,
select,
textarea {
	font-size: 100%; /* 1 */
	margin: 0; /* 2 */
	vertical-align: baseline; /* 3 */
	*vertical-align: middle; /* 3 */
}
button,
input {
	line-height: normal;
}
button,
select {
	text-transform: none;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
	*overflow: visible; /* 4 */
}
button[disabled],
html input[disabled] {
	cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
	*height: 13px; /* 3 */
	*width: 13px; /* 3 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box; /* 2 */
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto; /* 1 */
	vertical-align: top; /* 2 */
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html,
button,
input,
select,
textarea {
	color: #222;
}
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
img {
	vertical-align: middle;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}
body {
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
}
.page {
	max-width: 1280px;
}
.container__page {
	max-width: 1120px;
	margin: 0 auto;
	position: relative;
	display: flex;
}
.container__left {
	width: 560px;
	height: 500px;
	background: linear-gradient(180deg, #428a60 0%, #35734f 100%);
	position: relative;
	z-index: 2;
}
.circle-left {
	max-width: 398px;
	max-height: 398px;
	margin-top: 71px;
	margin-left: 20px;
}
.global-circle {
	position: absolute;
	width: 688px;
	height: 688px;
	left: 315px;
	top: -19px;
	z-index: -1;
}
.logo__name {
	font-family: Montserrat;
	font-weight: 700;
	font-size: 18px;
	line-height: 130%;
	color: #ffffff;
	margin-top: 40px;
	margin-left: 40px;
	position: absolute;
}
.main__img {
	position: absolute;
	max-width: 465px;
	left: 57px;
	top: 212px;
}
.eco-main {
	position: absolute;
	width: 41px;
	height: 23px;
	margin-left: 40px;
	bottom: 25px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 130%;
	color: #ffffff;
}
.container__right {
	width: 560px;
	z-index: 3;
}

.header__text-right {
	margin-top: 29px;
	margin-bottom: 81px;
	position: relative;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 800;
	font-size: 30px;
	line-height: 130%;
	text-align: center;
	color: #212121;
}
.content__main-right {
	margin: 0 auto;
}
/* Форма*/
.form__group-main {
	position: relative;
	margin-left: 117px;
}
.colortext {
	color: #428a60;
}
.form-group-name {
	max-width: 320px;
	height: 50px;
	margin-bottom: 20px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 800;
	font-size: 12px;
	line-height: 130%;
	/* identical to box height, or 16px */

	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.exampleInputPassword-text {
	margin-bottom: 10px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 800;
	font-size: 12px;
	line-height: 130%;
	/* identical to box height, or 16px */

	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.form-group-tel {
	width: 320px;
	height: 50px;
	margin-bottom: 38px;
	display: flex;
}

.form-control-tel-group {
	width: 184px;
	height: 50px;
	display: block;
	margin-right: 20px;
	padding-left: 20px;
}
.button__green {
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 12px 20px;
	width: 320px;
	max-height: 42px;
	background: #428a60;
	border-radius: 5px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 130%;
	border: none;
	text-align: center;
	background-image: url(/img/arrow.svg);
	background-repeat: no-repeat;
	background-position-x: 67%;
	background-size: 15px;
	background-position-y: center;
	color: #ffffff;
}

.form-control-tel-group {
	border: 1px solid #e4e4e4;
}
.form-control {
	border: 1px solid #e4e4e4;
}
.exampleInputEmail1__class {
	margin-bottom: 10px;
}
#app {
	border: none;
}
.footer {
	display: none;
}
@media screen and (max-width: 320px) {
	body {
		width: 320px;
	}
	.page {
		max-width: 320px;
	}
	.container__page {
		max-width: 320px;
		display: flex;
		flex-wrap: wrap;
	}
	.container__left {
		width: 280px;
		height: 274px;
		background: none;
	}
	.circle-left {
		max-width: 202px;
		max-height: 202px;
		margin-top: 72px;
		margin-left: 59px;
	}
	.global-circle {
		display: none;
	}
	.logo__name {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 130%;
		color: #212121;
	}
	.main__img {
		position: absolute;
		width: 223px;
		height: 122px;
		left: 57px;
		top: 120px;
	}
	.eco-main {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 130%;
		text-align: right;
		text-transform: uppercase;
		color: #212121;
		margin-left: 95%;
		bottom: 75%;
	}
	.container__right {
		width: 280px;
		z-index: 3;
	}
	.header__text-right {
		font-style: normal;
		font-weight: 800;
		font-size: 30px;
		line-height: 130%;
		text-align: center;
		color: #212121;

		margin-top: 32px;
		margin-bottom: 28px;
		margin-left: 20px;
	}
	br {
		display: none;
	}
	.form__group-main {
		margin-left: 20px;
	}
	.form-group-name {
		width: 280px;
		height: 50px;
		font-style: normal;
		font-weight: 800;
		font-size: 12px;
		line-height: 130%;
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}
	.form-group-tel {
		width: 280px;
		height: 50px;
		margin-bottom: 28px;
	}
	.form-control-tel-group {
		width: 174px;
		height: 50px;
		display: block;
		margin-right: 10px;
		padding-left: 12px;
	}
	.button__green {
		padding: 12px 20px;
		width: 280px;
		max-height: 42px;
		margin-bottom: 28px;
		border-radius: 5px;
	}
	.footer {
		width: 320px;
		height: 40px;
		display: flex;
		flex-wrap: nowrap;
	}
	.footer__group {
		margin-bottom: 11px;
		margin-right: 80px;
		margin-top: 11px;
		margin-left: 80px;
		width: 159px;
		display: flex;
	}
	.footer__trusted {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 130%;
		text-align: center;
		color: #212121;
	}
	.lock__img {
		margin-left: 22px;
		margin-right: 22px;
	}
	.footer__secure {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 130%;
		/* or 18px */

		text-align: center;

		/* black */

		color: #212121;
	}
}
